extends ../layout.pug
include ../shared/pagination

mixin post(post)
    a(href=`/microPosts/${post.id}`, class="p-3 flex flex-col bg-white shadow-lg rounded-lg overflow-hidden")
        h2.w-full.truncate.line-clamp-1.text-xl.font-semibold= post.title
        p.line-clamp-2= post.content


block content
  h1.text-4xl.font-bold Micro Posts
  div(class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4')
    each post in pageData.data
        +post(post)
  +pagination(pageData.page, pageData.totalPages, pageData.nextPage, pageData.prevPage)  
  a(href='/microPosts/new') New Post