html
  head
    title Pet Blog
    block scripts
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css", rel="stylesheet")
  body
    nav.flex.justify-between.items-center.px-4.py-2.border-b
      h1.text-2xl.font-bold Pet Blog
      ul.flex.gap-3
        li
          a(href="/") Home
        if currentUser
          li
              a(href="/users") Users
          li
            a(href="/posts/new") New Post
          li 
            a(href=`/users/profile/${currentUser.id}`) Profile
          li
            form(action="/auth/logout?_method=DELETE" method="POST", class="inline")
              button(type="submit") Logout
        else 
          li
            a(href="/auth/login") Login
          li
            a(href="/auth/register") Register
    div.w-full.h-full.bg-gray-100
      block content
