extends ../layout.pug


block content
    div.flex.flex-col.items-center.justify-center.min-h-screen.bg-gray-100
        h1.text-center.text-4xl.font-bold.text-gray-800.my-8 Pet Blog
        h2.text-center.text-2xl.font-semibold.text-gray-700.my-4 Welcome back! Login to your account
        if alert
            div#alert.text-red-500.text-center.my-1(data-cy="error-message")= alert
        form(action="/auth/login" method="POST" class="w-full max-w-sm mx-auto", id="login-form")
            div.my-4
            label(for="email") Email
            input#email(name="email", data-cy="email", type="email", required, class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring")
            div.my-4
            label(for="password") Password
            input#password(name="password", data-cy="password" type="password", required, class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring")
            div.my-4
            button(type="submit", data-cy="login-button" class="w-full px-4 py-2 mt-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600") Login
            div.my-4
            a(href="/auth/register", data-cy="register-link" class="text-blue-500 hover:underline") Register
